<footer class="py-1 my-3 text-center">
  <p>Encontrou algum problema? <a href="mailto:jaideraf@gmail.com?subject=Conversor%20de%20PDF%20para%20PDF/A" title="Enviar e-mail">Conte nos aqui!</a><i class="fa-regular fa-envelope"></i></p>
  <p><a href="https://codigos.ufsc.br/bu/pdf2pdfa" target="_blank" title="Vai para o GitLab da UFSC">Contribua com o código aberto</a><i class="fa-solid fa-code"></i></p>
<div class="d-flex align-items-center justify-content-center">
<p><a href="https://portal.bu.ufsc.br/" target="_blank" title="Biblioteca Universitária da UFSC">BU</a>, <a href="https://setic.ufsc.br/" target="_blank" title="Superintendência de Governança Eletrônica e Tecnologia da Informação e Comunicação">SeTIC</a>, <a href="https://ufsc.br/" target="_blank" title="Universidade Federal de Santa Catarina">UFSC</a>, <script>document.write(new Date().getFullYear())</script></p>
</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script src="/js/script.js" defer></script>
</body>
</html>
