<%- include('partials/header.ejs', {title: "Arquivo PDF/A gerado com sucesso"}) %>
  <div class="container pt-4">
    <p>
      Verifique se o arquivo PDF submetido está correto.
    </p>
  </div>
<%- include('partials/footer.ejs') %>
