<%- include('partials/header.ejs') %>
  <div class="container pt-4">
    <h3>Ocorreu um erro ao gerar o PDF/A.</h3>
  <p>
    Verifique se o arquivo PDF submetido está correto.
  </p>
  <p>
    <ul>
      <li>Somente pode ser submetido um arquivo PDF;</li>
      <li>O arquivo não pode ser maior que 32 megabytes;</li>
      <li>O arquivo não pode estar assinado;</li>
    </ul>
  </p>
  <p>Caso o erro persista, entre em contato com o administrador do sistema.</p>
  <p>A página será recarregada automaticamente em 10 segundos.</p>
  </div>
<script>
  setTimeout(function () {
     // after 10 seconds
     window.location = "/";
  }, 10000);
</script>
<%- include('partials/footer.ejs') %>
