<%- include('partials/header.ejs', {title: "Conversão de PDF para PDF/A"}) %>
<main>
  <div class="container pt-4">
    <form
      method="post"
      action="/"
      enctype="multipart/form-data"
      class="form-group"
      id="form"
    >
    <div class="card">
      <div class="card-header">
        <div class="text-center">
          <p style="margin-bottom: 0;">
            O preenchimento dos campos é opcional, porém <strong>recomendado</strong> para uma maior
            qualidade técnica e visual.
          </p>
        </div>
      </div>
    <div class="card-body">
      <div class="input-group">
        <label for="title" class="input-group-text">Título</label>
        <input
          type="text"
          placeholder="Use maiúsculas conforme a língua portuguesa"
          name="title"
          id="title"
          class="form-control"
          value=""
        />
      </div>
        <div class="input-group">
          <label for="author" class="input-group-text">Autoria</i></label>
          <input
            type="text"
            placeholder="Nome completo"
            name="author"
            id="author"
            class="form-control"
            value=""
          />
        </div>
        <div class="input-group">
          <label for="keywords" class="input-group-text">Palavras-chave</label>
          <input
            type="text"
            placeholder="Separe as palavras-chave com vírgulas"
            name="keywords"
            id="keywords"
            class="form-control"
            value=""
          />
        </div>
        <div class="input-group">
          <label for="file" class="input-group-text">Arquivo PDF <i class="fa-regular fa-file-pdf"></i></label>
          <input
            type="file"
            name="file"
            accept="application/pdf"
            id="file"
            class="form-control"
            required
          />
        </div>
        <div class="input-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="ocr" id="ocr" />
            <label class="form-check-label" for="ocr">
              Usar <abbr title="Optical Character Recognition" class="initialism">OCR</abbr> para identificar texto nas imagens
            </label>
          </div>
        </div>
        <div class="input-group d-flex justify-content-center">
          <span>
            <button
            type="submit"
            value="Enviar"
            class="btn btn-primary"
            title="Enviar arquivo para conversão"
            id="submit">
            Enviar <i class="fa-solid fa-file-arrow-up"></i>
            </button>
          </span>
        </div>
    </div>
    </div>
    </form>
  </div>
</body>

</main>
<%- include('partials/footer.ejs') %>
