<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conversão de PDF para PDF/A</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-light">
    <div class="container pt-4">
      <h3>Conversão de PDF para PDF/A</h3>

      <form
        method="post"
        action="/upload"
        enctype="multipart/form-data"
        class="form-group"
        id="form"
      >
        <p>
          O preenchimento dos campos é opcional, porém recomendado para uma
          maior qualidade visual e técnica.
        </p>
        <div class="input-group">
          <label for="author" class="input-group-text">Autor</label>
          <input
            type="text"
            placeholder="Nome completo"
            name="author"
            id="author"
            class="form-control"
            value=""
          />
        </div>
        <div class="input-group">
          <label for="title" class="input-group-text">Título</label>
          <input
            type="text"
            placeholder="Use maiúsculas conforme a língua portuguesa"
            name="title"
            id="title"
            class="form-control"
            value=""
          />
        </div>
        <div class="input-group">
          <label for="keywords" class="input-group-text">Palavras-chave</label>
          <input
            type="text"
            placeholder="Separe as palavras-chave com vírgulas"
            name="keywords"
            id="keywords"
            class="form-control"
            value=""
          />
        </div>
        <div class="input-group">
          <input
            type="file"
            name="file"
            accept="application/pdf"
            id="file"
            class="form-control"
            required
          />
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="ocr" id="ocr" />
          <label class="form-check-label" for="">
            Usar OCR para identificar texto nas imagens (opcional)
          </label>
        </div>

        <button
          type="submit"
          value="Enviar"
          class="btn btn-primary"
          title="Converter arquivo"
          id="submit"
        >
          Enviar
        </button>
        <button
          type="button"
          value="Recarregar a página"
          class="btn btn-secondary"
          style="display: none"
          title="Recarregar a página"
          id="reload"
        >
          Recarregar a página
        </button>
      </form>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
  <script src="/js/script.js" defer></script>
</html>
